@page "/car-requests"

@using CarRental.BlazorWasm.Services.ItemService;

@inject PendingHistoryService pendingHistoryService

<h3>Car Request</h3>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Customer Name</th>
            <th scope="col">Car Model</th>
            <th scope="col">Rent Price</th>
            <th scope="col">Rent From</th>
            <th scope="col">Rent To</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in allPendingRequest)
        {
            <tr>
                <td>@request.UserName</td>
                <td>@request.CarModel</td>
                <td>@request.Price</td>
                <td>@request.FromDate.ToShortDateString()</td>
                <td>@request.ToDate.ToShortDateString()</td>
                <td>
                    <button class="btn btn-success" @onclick="() => ApproveRequest(request.Id)">Approve</button>
                    <button class="btn btn-danger" @onclick="() => DenyRequest(request.Id)">Deny</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    List<PendingHistory> allPendingRequest = new List<PendingHistory>();

    protected override async Task OnInitializedAsync()
    {
        allPendingRequest = await pendingHistoryService.GetAll();
    }

    private async Task ApproveRequest(int id)
    {
        await pendingHistoryService.ApproveRequest(id);
    }

    private async Task DenyRequest(int id)
    {
        await pendingHistoryService.DenyRequest(id);
    }
}
